# Meson suggested build directories (local and package)
build/
/obj-*/
dist/

# Packaging generated content
debian/*debhelper*
debian/files
debian/*.substvars
debian/tmp/
debian/yellowfin-theme-gnome-shell/
debian/yellowfin-theme-gtk/
debian/yellowfin-theme-icon/
debian/yellowfin-theme-sound/

# snapcraft build artefacts
parts/
stage/
prime/
snap/.snapcraft/state
*.snap
